@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProBol.otf") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProLig.otf") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothaProLigIta.otf") format("woff2");
  font-style: italic;
  font-weight: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex-basis: 1100px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 77px;
  background: #27273e;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  padding: 0 19px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 99px;
  height: 100%;
  text-decoration: none;
}

.logo__img {
  height: 51px;
  margin-bottom: 4px;
  opacity: 1;
  transition: opacity .25s ease-in;
}

.logo__title {
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease-in;
  text-transform: uppercase;
  font-family: GothamPro;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.logo:hover .logo__title {
  opacity: 1;
}

.logo:hover .logo__img {
  opacity: .3;
}

.header__contacts {
  padding: 0 22px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contacts__phone {
  text-decoration: none;
  font-family: GothamPro, sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 6px;
  color: #fff;
}

.contacts__schedule {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.7);
}

.contacts__schedule:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #7faad4;
}

.about {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 67px;
  background: #27273e;
}

.about__banner {
  max-width: 100%;
}

.page {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 70px;
}

.page__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sidebar {
  flex-basis: 18%;
}

.sidebar__menu {
  margin-left: 20px;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 33px;
}

.menu__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: GothamPro;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ec1e79;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.menu__link--active {
  color: #000;
}

.menu__icon {
  display: inline-block;
  height: 1.2em;
  width: 1.3em;
  margin-right: 19px;
}

.menu__icon--main {
  background: url('../images/icon/main_icon.png');
  background-size: cover;
}

.menu__link--main:hover .menu__icon--main {
  background: url('../images/icon/main_icon_active.png');
  background-size: cover;
}

.menu__link--active > .menu__icon--main {
  background: url('../images/icon/main_icon_active.png');
  background-size: cover;
}

.menu__icon--feed {
  background: url('../images/icon/feed_icon.png');
  background-size: cover;
}

.menu__link:hover {
  color: #000;
}

.menu__link--feed:hover .menu__icon--feed {
  background: url('../images/icon/feed_icon_active.png');
  background-size: cover;
}

.menu__link--active>.menu__icon--feed {
  background: url('../images/icon/feed_icon_active.png');
  background-size: cover;
}

.menu__icon--wallet {
  background: url('../images/icon/wallet_icon.png');
  background-size: cover;
}

.menu__link--wallet:hover .menu__icon--wallet {
  background: url('../images/icon/wallet_icon_active.png');
  background-size: cover;
}

.menu__link--active>.menu__icon--wallet {
  background: url('../images/icon/wallet_icon_active.png');
  background-size: cover;
}

.main {
  flex-basis: 82%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  margin: 0;
  padding: 0;
  font-family: GothamPro;
  font-size: 49px;
  font-weight: bold;
  color: #221f1f;
}

.features__title {
  margin-top: -11px;
  margin-bottom: 55px;
}

.main__features {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 85px;
}

.features__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 207px;
}

.features__item:not(:last-child) {
  margin-right: 68px;
}

.features__icon {
  width: 68px;
  height: 68px;
  margin-bottom: 32px;
}

.features__icon--flower {
  background: url('../images/icon/flower.png');
  background-size: cover;
}

.features__icon--star {
  background: url('../images/icon/mark-as-favorite-star.png');
  background-size: cover;
}

.features__icon--palette {
  background: url('../images/icon/painter-palette.png');
  background-size: cover;
}

.features__item-title {
  margin: 0;
  padding: 0;
  font-family: GothamPro;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2.6px;
  text-align: center;
  color: #212121;
  text-transform: uppercase;
}

.features__text {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 5px;
  font-family: GothamPro;
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  color: #221f1f;
}

.features__intext-list {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  list-style: none;
  font-family: GothamPro;
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
}

.features__intext-item::before {
  color: #cc3366;
  content: "•";
  padding-right: 30px;
}

.feeds {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.67;
}

.feeds__title {
  margin-bottom: 50px;
}

.feeds__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 55px;
}

.feeds__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.feeds__item:not(:last-child) {
  margin-bottom: 45px;
}

.feeds__image {
  max-width: 160px;
  max-height: 160px;
  margin-right: 20px;
  border-radius: 50%;
}

.feeds__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 685px;
}

.feeds__date {
  font-size: 14px;
  line-height: 21px;
  color: #656464;
}

.feeds__item-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.feeds__pagination {
  margin-left: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination__status {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #656464;
}

.pagination__control {
  width: 6px;
  height: 10px;
}

.pagination__control:hover:not(.pagination__control--disable) {
  cursor: pointer;
}

.pagination__control--disable {
  opacity: 0.3;
}

.pagination__control--prev {
  margin-right: 15px;
  background: url('../images/icon/prev.png');
  background-size: cover;
}

.pagination__control--next {
  background: url('../images/icon/next.png');
  background-size: cover;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}

.pagination__item:not(:last-child):not(.pagination__link--current) {
  margin-right: 16px;
}

.pagination__link {
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #221f1f;
}

.pagination__link:not(.pagination__link--current):hover {
  cursor: pointer;
  color: #ec1e79;
}

.pagination__link--current {
  padding: 5px 10px;
  color: #fff;
  background: #27273e;
  border-radius: 3px;
  cursor: default;
}

.footer {
  width: 100%;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #27273e;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__autor-block {
  max-width: 265px;
  margin-left: 19px;
  font-family: GothamPro;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  color: #fff;
}

.footer__important {
  font-weight: 700;
}

.footer__social {
  margin-right: 22px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 175px;
}

.social__title {
  margin-bottom: 9px;
  font-family: GothamPro;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
}

.social__link--vk {
  background: url('../images/icon/social/vk.png');
  background-size: cover;
}

.social__link--fb {
  background: url('../images/icon/social/fb.png');
  background-size: cover;
}

.social__link--google {
  background: url('../images/icon/social/google.png');
  background-size: cover;
}

.social__link--twitter {
  background: url('../images/icon/social/twitter.png');
  background-size: cover;
}

.social__link--mail {
  background: url('../images/icon/social/mail.png');
  background-size: cover;
}

.social__link--vk:hover {
  background: url('../images/icon/social/vk-active.png');
  background-size: cover;
}

.social__link--fb:hover {
  background: url('../images/icon/social/fb-active.png');
  background-size: cover;
}

.social__link--google:hover {
  background: url('../images/icon/social/google-active.png');
  background-size: cover;
}

.social__link--twitter:hover {
  background: url('../images/icon/social/twitter-active.png');
  background-size: cover;
}

.social__link--mail:hover {
  background: url('../images/icon/social/mail-active.png');
  background-size: cover;
}