.sidebar {
  flex-basis: 18%;
}

.sidebar__menu {
  margin-left: 20px;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-bottom: 33px;
}

.menu__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: GothamPro;
  font-size: 12px;
  padding-left: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ec1e79;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.menu__link--active {
  color: #000;
}

.menu__link:hover {
  color: #000;
}

.menu__link::before {
  content: ' ';
  display: inline-block;
  height: 1.2em;
  width: 1.3em;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__link::after {
  content: ' ';
  display: inline-block;
  height: 1.2em;
  width: 1.3em;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__link--main::before {
  background: url('../../images/icon/main_icon.png');
  background-size: cover;
  opacity: 1;
}

.menu__link--main::after {
  background: url('../../images/icon/main_icon_active.png');
  background-size: cover;
  opacity: 0;
}

.menu__link--main:hover::before {
  opacity: 0;
}

.menu__link--main:hover::after {
  opacity: 1;
}

.menu__link--active.menu__link--main::before {
  opacity: 0;
}

.menu__link--active.menu__link--main::after {
  opacity: 1;
}

.menu__link--feed::before {
  background: url('../../images/icon/feed_icon.png');
  background-size: cover;
  opacity: 1;
}

.menu__link--feed::after {
  background: url('../../images/icon/feed_icon_active.png');
  background-size: cover;
  opacity: 0;
}

.menu__link--feed:hover::before {
  opacity: 0;
}

.menu__link--feed:hover::after {
  opacity: 1;
}

.menu__link--active.menu__link--feed::before {
  opacity: 0;
}

.menu__link--active.menu__link--feed::after {
  opacity: 1;
}

.menu__link--wallet::before {
  background: url('../../images/icon/wallet_icon.png');
  background-size: cover;
  opacity: 1;
}

.menu__link--wallet::after {
  background: url('../../images/icon/wallet_icon_active.png');
  background-size: cover;
  opacity: 0;
}

.menu__link--wallet:hover::before {
  opacity: 0;
}

.menu__link--wallet:hover::after {
  opacity: 1;
}

.menu__link--active.menu__link--wallet::before {
  opacity: 0;
}

.menu__link--active.menu__link--wallet::after {
  opacity: 1;
}