.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 175px;
}

.social__title {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social__item {
  position: relative;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.social__link::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 20px;
  height: 20px;
  transition: opacity .3s;
}

.social__link--vk {
  background: url('../../images/icon/social_sprites.png') -90px -90px;
}

.social__link--vk:hover::before {
  opacity: 1;
}

.social__link--fb {
  background: url('../../images/icon/social_sprites.png') -10px -10px;
}

.social__link--fb:hover::before {
  opacity: 1;
}

.social__link--google {
  background: url('../../images/icon/social_sprites.png') -10px -50px;
}

.social__link--google:hover::before {
  opacity: 1;
}

.social__link--twitter {
  background: url('../../images/icon/social_sprites.png') -10px -90px;
}

.social__link--twitter:hover::before {
  opacity: 1;
}

.social__link--mail {
  background: url('../../images/icon/social_sprites.png') -90px -10px;
}

.social__link--mail:hover::before {
  opacity: 1;
}

.social__link--vk::before {
  background: url('../../images/icon/social_sprites.png') -130px -10px;
}

.social__link--fb::before {
  background: url('../../images/icon/social_sprites.png') -50px -10px;
}

.social__link--google::before {
  background: url('../../images/icon/social_sprites.png') -50px -50px;
}

.social__link--twitter::before {
  background: url('../../images/icon/social_sprites.png') -50px -90px;
}

.social__link--mail::before {
  background: url('../../images/icon/social_sprites.png') -90px -50px;
}