.stock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 174px;
  margin-bottom: 57px;
  background: url('../../images/banner/stockBanner.png');
  background-size: cover;
}

.stock__text {
  max-width: 631px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.stock__discount {
  text-decoration: none;
  color: #ec1e79;
  font-weight: 700;
}

.stock__discount:hover {
  text-decoration: underline;
  color: #7faad4;
}